h1 {
  font-size: 100px;
}

.landing-header {
  height: 97vh;
  width: 97vw;
  margin: auto;
  text-align: center;
}

.searchbox {
  display: inline-block;
  margin-top: 20vh;
}

.searchbar {
  margin-top:50px;
  width:600px;
}